node_modules
.next
.turbo
out
coverage
dist
build
*.log
*.tsbuildinfo
next-env.d.ts
.vercel
.env
.env.local
.env.*.local
.env.example
!/.env.example
.DS_Store
nul
NUL
tina/__generated__/client.ts
tina/__generated__/config.prebuild.jsx
tina/__generated__/.cache/
public/admin/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
