@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #000;
  --background-alt: 255 255 255;
  --grey-100: 245 245 245;
  --grey-300: 235 232 232;
  --grey-500: 200 199 204;
  --grey-600: 62 76 72;
  --grey-900: 42 52 49;
  --primary: 156 211 184;
  --primary-foreground: 22 22 22;
  --secondary: 246 115 39;
  --secondary-foreground: 22 22 22;
  --muted: 249 249 249;
  --muted-foreground: 102 102 102;
  --accent: 246 115 39;
  --accent-foreground: 22 22 22;
  --destructive: 210 43 43;
  --destructive-foreground: 255 255 255;
  --border: 235 232 232;
  --input: 156 211 184;
  --ring: 156 211 184;
}

.dark {
  --background: #1a2228;
  --foreground: #f5f5f5;
  --background-alt: 19 24 28;
  --grey-100: 64 64 64;
  --grey-300: 49 62 58;
  --grey-500: 245 245 245;
  --grey-600: 62 76 72;
  --grey-900: 115 115 115;
  --primary: 156 211 184;
  --primary-foreground: 22 22 22;
  --secondary: 246 115 39;
  --secondary-foreground: 22 22 22;
  --muted: 41 51 48;
  --muted-foreground: 199 229 210;
  --accent: 246 115 39;
  --accent-foreground: 22 22 22;
  --destructive: 210 43 43;
  --destructive-foreground: 255 255 255;
  --border: 58 69 66;
  --input: 156 211 184;
  --ring: 58 69 66;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration-thickness: 2px;
}

html {
  color-scheme: only light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mona-sans), Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.cursor-pointer img {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
}
